*{
    margin: 0;
    padding: 0;
    font-family: "Roboto",sans-serif;
}
body{
    background-image: url("https://images.unsplash.com/photo-1678047471351-84a24c661587?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container{
    width: 100%;
    height: 100vh;

    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;


}
.navbar{
    height: 12%;
    display:flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;

}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(111, 106, 106);
    font-size: 15px;
    font-weight: 900;
    position: relative;
}
.nav ul li a::after {
    content: "";
    height: 3px;
    width: 0;
    background: whitesmoke;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.nav ul li a:hover::after,
.nav ul li a:focus::after {
    width: 100%;
}


.row{
    display: flex;
    height: 88%;
    align-items: center;

}
.col{
    flex-basis: 50%;
    font-weight: 900;

}
h1{
    color: black;
    font-size: 100px;
    
}
p{
    color: black;
    font-size: 11px;
}
button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: whitesmoke;
    border: 0;
    border-radius: 20px;
outline: none;
margin-top: 30px;
}
.car{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.car1{
    background-image: url("https://images.unsplash.com/photo-1660479643214-8ceae9caeda0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Y2hpbGxkcmVuJTIwaW4lMjBnYXphfGVufDB8fDB8fHww");
}
.car2{
    background-image: url("https://th.bing.com/th/id/OIP.TPPOrrw1cKrPYanojS8l-gHaEo?w=276&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
}
.car3{
    background-image: url("https://media.istockphoto.com/id/1320652784/photo/ruined-building-on-fire-as-example-of-rocket-air-strike-result-between-israel-and-gaza-in.jpg?s=1024x1024&w=is&k=20&c=z23ydavP1CKPmYv5fat7rUTblKMqxQD4uDBueiplZlg=");
}
.car4{
    background-image: url("https://idsb.tmgrup.com.tr/ly/uploads/images/2021/05/21/thumbs/871x871/116148.jpg");
}
.car:hover{
    transform: translateY(-10px);
}
h5{
color: aliceblue;
    font-weight: 900;
}
h1{
    color:rgb(80, 79, 77);
}
.logo{
    position: absolute;
    left: 2px;
    width: 100px;
   

    
}